<?xml version="1.0" encoding="UTF-8" standalone="no"?><root>
	<language>Polish</language>
	<contourLineColor>#CC00CC</contourLineColor>
	<activeContourLineColor>#FF6666</activeContourLineColor>
	<contourLineWidth>1.5</contourLineWidth>
	<activeContourLineWidth>2.3</activeContourLineWidth>
	<pixelsInCol>70</pixelsInCol>
	<pixelsInRow>150</pixelsInRow>
	<interpolationRadius>1.8</interpolationRadius>
</root>