* {
	-fx-font-family: Arial;
}

.menu-item{
	-fx-min-width: 100px;
	-fx-padding: 6px;
}

ToolBox{
	-fx-background-color: darkred;
	-fx-padding: 10px 7px 0px 7px;
	-fx-spacing: 10px;
}

ToolBox HBox{
	-fx-alignment: center;
}

ToolBox Button{
	-fx-pref-width: 55px;
	-fx-pref-height: 55px;
	-fx-background-size: 50px 50px;
	-fx-background-position: center center;
	-fx-background-repeat: stretch;
}

ToolBox Button:hover{
	-fx-background-size: 45px 45px;
}

ToolBox .hideToolBoxButton{
	-fx-pref-width: 55px;
	-fx-pref-height: 30px;
}

ToolBox .undoButton{
	-fx-background-image: url("/pl/edu/pw/fizyka/pojava/BozekKlis/Resources/undoIcon.png");
}

ToolBox .redoButton{
	-fx-background-image: url("/pl/edu/pw/fizyka/pojava/BozekKlis/Resources/redoIcon.png");
}

ToolBox .selectionColorButton{
	-fx-background-image: url("/pl/edu/pw/fizyka/pojava/BozekKlis/Resources/selectionColorIcon.png");
}

ToolBox .resizeImageButton{
	-fx-background-image: url("/pl/edu/pw/fizyka/pojava/BozekKlis/Resources/resizeImageIcon.png");
}

BottomPanel{
	-fx-pref-height: 50px;
	-fx-background-color: darkred;
	-fx-padding: 5px 12px 5px 12px;
}

BottomPanel Label{
	-fx-text-fill: white;
}

BottomPanel VBox{
	-fx-alignment: center;
}

.LeftHBox{
	-fx-font-size: 16px;
	-fx-font-weight: bold;
}

.RightHBox{
	-fx-font-size: 11px;
}

DrawingPanel{
	-fx-background-color: black;
}

ImagePanel{
	-fx-border-color: black;
    -fx-border-style: solid;
    -fx-border-width: 5;
}

.axis { 
    -fx-tick-label-fill: white;
    -fx-tick-length: 20;
    -fx-minor-tick-length: 10;
}
 
.axis-label {
   -fx-text-fill: white; 
   -fx-font-size: 15px;
}
 
.axis-tick-mark {
    -fx-stroke: #637040;
    -fx-stroke-width: 3; 
}
.axis-minor-tick-mark {
    -fx-stroke: #859656;
}




