* {
	-fx-font-family: Arial;
}

.menu-item{
	-fx-min-width: 100px;
	-fx-padding: 6px;
}

BottomPanel{
	-fx-pref-height: 50px;
	-fx-background-color: darkred;
	-fx-padding: 5px 12px 5px 12px;
}

BottomPanel Label{
	-fx-text-fill: white;
}

BottomPanel VBox{
	-fx-alignment: center;
}

BottomPanel .LeftBox{
	-fx-font-size: 12px;
}

BottomPanel .CenterBox{
	-fx-font-size: 18px;
	-fx-font-weight: bold;
}

BottomPanel .RightBox{
	-fx-font-size: 12px;
}

DrawingPanel{
	-fx-background-color: black;
}

ImagePanel{
	-fx-border-color: black;
    -fx-border-style: solid;
    -fx-border-width: 5;
}

.axis { 
    -fx-tick-label-fill: white;
    -fx-tick-length: 20;
    -fx-minor-tick-length: 10;
}
 
.axis-label {
   -fx-text-fill: white; 
   -fx-font-size: 15px;
}
 
.axis-tick-mark {
    -fx-stroke: #637040;
    -fx-stroke-width: 3; 
}
.axis-minor-tick-mark {
    -fx-stroke: #859656;
}


