
HBox{
	-fx-spacing: 10px;
	-fx-padding: 6px;
}

*{
	-fx-font-size: 13px;
}

Spinner{
	-fx-pref-width: 100px;
}

.errorLabel{
	-fx-text-fill: red;
}

BorderPane{
	-fx-padding: 15px;
}

TextField{
	-fx-pref-column-count: 6;
}

.tableVbox{
	-fx-alignment: baseline-center;
}

.tableVbox Label{
	-fx-pref-height: 30px;
}

.bottomPadding{
	-fx-padding: 0px 0px 20px 0px;
}



